# Dependencies
node_modules/
dist/

# Production build
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
.vscode/
.idea/ 
.parcel-cache/
.gitignore
package-lock.json
